html {
    height: 100%;
}

body {
    background: url(../img/web_login_bg.jpg) no-repeat center;
    background-size: cover;
}

.mui-content {
    background-color: transparent;
    -webkit-overflow-scrolling: touch;
}

.md-index-title {
    height: 20%;
    margin: 5% 0 auto auto;
    font-family: Microsoft YaHei;
    font-size: 6vh;
    font-weight: 600;
}

.md-index-img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

.md-index-img-out {
    width: 100%;
    height: 100%;
    line-height: 600px;
    text-align: center;
}

.md-index-input {
    opacity: 0;
}

#triangle-bottomright {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0px;
    border-bottom: 100px solid #73adc7;
    border-left: 100px solid transparent;
}
.md-keybord{
    position: fixed;
    right: 0;
    bottom: 10px;
    width: 24px;
    height: 24px;
    color: red;
    z-index: 1;
}