body,
		html {
			height: 100%;
			font-family: Microsoft YaHei;
		}

		.mui-bar {
			position: fixed;
			z-index: 100;
			right: 0;
			left: 0;
			height: 44px;
			padding-right: 10px;
			padding-left: 10px;
			border-bottom: 0;
			background-color: #f7f7f7;
			-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
			box-shadow: 0 0 1px rgba(0, 0, 0, .85);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		.mui-bar-nav~.mui-content {
			padding-top: 60px;
		}

		.md-header-title-display {
			display: flex;
			padding-right: 0px;
		}

		.md-header-flex-one {
			flex: 1;
		}

		.md-header-flex-two {
			flex: 3;
		}

		.label-input-arrow {
			background: url(../img/arrow.png) right center no-repeat !important;
		}

		.md-input-height {
			height: 44px !important;
			margin-bottom: 0px !important;
		}

		.md-op-user {
			font-weight: 600;
		}

		.md-op-size {
			font-size: 2vh;
			font-weight: 600;
		}

		.md-changeover {
			margin: .2vh 1.2vh .2vh 1.2vh;
			background-color: red;
			box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.5);
			color: white;
			font-weight: 600;
		}

		.md-input-border {
			/*border: solid red 1px;*/
		}

		.md-card-display {
			display: flex;
		}

		.md-card-flex {
			flex: 1;
		}

		.md-card-height {
			height: 5vh;
			line-height: 5vh;
		}