<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>E-MappingChart</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../css/mui.min.css" rel="stylesheet" />
	<link href="../css/procedure.css" rel="stylesheet">
</head>

<body>
	<div class="mui-content" id='procedure'>
		<header class="mui-bar mui-bar-nav md-header-title-display">
			<div class="mui-input-row mui-checkbox mui-left md-header-flex-one">
				<label>自动调用</label>
				<input @click='checkedOne()' :checked="isChecked" name="checkbox1" value="Item 1" type="checkbox">
			</div>
			<input class="md-header-flex-two label-input-arrow md-input-height" id='ppNum' type="text" :readonly="isCall" :placeholder="pHolder">
			<button class="md-header-flex-one md-changeover" class="mui-btn" @click="onClickOver">ChangeOver</button>
			<div class="mui-ellipsis md-header-flex-one md-input-border">
				<div class="mui-input-row">
					<label class="label-end md-op-user">Op:</label>
					<input class="label-input-gray md-op-size" readonly type="text" value="0008755425">
				</div>
			</div>
		</header>
		<div class="mui-content" v-show="isCall">
			<div class="mui-input-row mui-search">
				<input type="search" class="mui-input-clear" placeholder="">
			</div>
			<!-- <div class="mui-content">
			<div class="mui-scroll-wrapper mui-content">
				<div class="mui-scroll"> -->
			<ul class="mui-table-view mui-grid-view">
				<li class="mui-table-view-cell mui-col-xs-4 mui-col-sm-4" v-for="(serialNumber,index) in serialNumbers" @click="onClickSelectItem(serialNumber,index)">
					<div class="mui-card md-card-height">
						<div class="mui-card-content md-card-display">
							<span class="md-card-flex" v-text="serialNumber.serverReturn"></span>
							<span class="md-card-flex" v-text="serialNumber.procedure"></div>
					</div>
				</li>
			</ul>
			<!-- </div>
			</div>
		</div> -->
		</div>
	</div>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript">
		mui.init()
	</script>
	<script type="text/javascript" src="../js/controllers/procedure.js"></script>
</body>

</html>